$font: "Roboto", sans-serif;
$primary-color: hsla(182, 87%, 17%, 0.979);
$text-color: #fff;

// media queries
$break-Large: 1000px;
$break-Medium: 730px;
$break-Small: 670px;
body,
html {
  background-color: $primary-color;
  color: $text-color;
  font-family: $font;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 0px 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, auto-fit);
  // grid-template-rows: repeat(4, 1fr);
  padding: 0;
}

header {
  background-image: url("/img/Path\ 3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vmax;

  .nav {
    position: fixed;
    // display: grid;
    // grid-template-columns: repeat(6, auto-fit);
    width: 100%;
    background-color: rgb(245, 245, 245);

    ul {
      // grid-column: 8 / 8;
      // justify-self: end;
      list-style-type: none;
      margin: 4px 0px;
      text-transform: uppercase;
      overflow: hidden;
      padding-right: 90px;
      font-weight: 400;
    }

    li {
      float: right;
      margin-top: 22px;
    }

    li a {
      display: block;
      color: #111213;
      padding: 14px 20px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #10aa67;
    }
  }

  #header-img {
    font-size: 20px;
    color: rgb(27, 28, 29);
    float: left;
    padding-left: 100px;
  }

  a {
    text-decoration: none;
  }
}

.marikina-shoe {
  text-align: center;
  .title-banner {
    margin-top: 250px;
    margin-bottom: 0;
    font-size: 70px;
  }

  p {
    font-size: 20px;
  }
  .button {
    background-color: #10aa67;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 4px;
  }

  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  input[type="text"],
  select,
  textarea {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

//MAIN SECTION
h1 {
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: repeat(2, auto-fit);
  margin-top: 90px;
  justify-content: center !important;

  p {
    grid-column: 2 / 4;
    align-self: center;
    font-size: 1.4rem;
  }

  .fas {
    grid-column: 1 / 2;
    justify-self: center;
    padding: 50px;
  }
}

//VIDEO ITEM
#vid {
  width: 700px;
  height: 350px;
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 50px;
  justify-content: center !important;
  .card0 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
    color: black;
    padding-bottom: 40px;
  }

  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
    color: black;
  }

  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
    color: black;
  }

  .button {
    background-color: #10aa67;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}
.column img {
  width: 100%;
}

//FOOTER SECTION

footer {
  background: #f1f1f1;
  width: 100%;
  height: 200px;
  margin-top: 150px;

  h1 {
    padding-top: 50px;
    color: #231f34;
  }
}

.icons {
  color: #231f34;
  text-align: center;
  padding: 10px;

  .fab {
    padding: 10px;
  }
  a {
    color: #231f34;
  }
}

// Media Queries
@media screen and (max-width: $break-Large) {
  body {
    background-color: rgb(8, 99, 134);
  }

  .button {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px !important;
  }

  input[type="text"],
  select,
  textarea {
    width: 250px !important;
    padding: 9px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #about {
    padding-top: 30px;
  }

  .main {
    margin-top: 0;
  }

  .title-banner {
    font-size: 60px !important;
  }

  p {
    font-size: 18px !important;
  }

  .fas {
    justify-self: start !important;
    padding: 25px !important;
  }

  input {
    text-align: center;
  }
}

@media screen and (max-width: $break-Medium) {
  body {
    background-color: rgb(128, 42, 42);
  }

  #about {
    padding-top: 30px;
  }

  #vid {
    width: 600px;
    height: 350px;
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .column {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 180px);
  }

  input {
    text-align: center;
  }
}

@media screen and (max-width: $break-Small) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, auto-fit);
    margin-top: 50px;

    p {
      grid-column: 2 / 4;
      align-self: center;
      font-size: 1.4rem;
    }

    .fas {
      grid-column: 1 / 2;
      justify-self: center;
      padding: 50px;
    }
  }

  body {
    background-color: rgb(37, 65, 14);
  }

  .wrapper {
    padding: 0px 0px;
  }

  #vid {
    width: 95vw;
    height: 350px;
    margin-top: 100px;
  }

  .column {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    // justify-content: center !important;
  }

  // Toggle Button

  .btn-toggle-nav {
    width: 90px;
    height: 50px;
    background-color: rgb(35, 156, 55);
    background-image: url("/img/Hamburger_icon.svg.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
    float: right;
    margin: 39px;
  }

  .nav-sidebar {
    position: fixed;
    // right: 20px;
    // bottom: -10px;
    width: 100% !important;
    height: 100px;
    text-align: center;
    background-color: #d8d8d8;
    z-index: 1000;
    opacity: 0.8;
    display: none;
    margin-top: 127px;
    -webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
    transition: all 2s;
  }

  .nav-sidebar ul {
    padding: 0px;
  }

  .nav-sidebar li {
    display: inline-block;
    line-height: 60px;
    list-style: none;
  }

  .nav-sidebar ul li a {
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-size: 19px;
    padding: 20px;
  }

  .nav ul li {
    display: none;
  }

  #header-img {
    font-size: 25px !important;
    padding-left: 30px !important;
  }

  #about {
    padding-top: 30px;
  }

  .title-banner {
    margin-top: 320px !important;
  }

  input {
    text-align: center;
  }
}
